@{
    ViewData["Title"] = "Home Page";
}


<body class="b1"><div class="text-center">
    <h1 class="display-4">Добре дошли в страницата за спа център "Хармония"</h1>
    <p class="p1">Ние сме сайт който представлява дейноста на спа център "Хармония".Ако се нуждаете от място където да разпуснете може да прегледате процедурите които нашият спа център предлага. </p>
</div></body>