@{
    ViewData["Title"] = "Privacy Policy";
}

<body class="b2"><h1>Контакти</h1>
<div><p class="p1">Ако имате нужда от допълнителна информация можете да се свържете с нас чрез :<br />Email: deyanstoev_kmeta@abv.bg<br />Телефон:0887703848 <br />Адрес:София 1377, р-н Оборище, ул. „Екзарх Йосиф” № 59 <br /> </p>
</div></body>

