
@{
    ViewData["Title"] = "View";
}

<body>
    <a href=~/Images/g1.jpg></a>
    <div class="Images">
        <img class="img" src="~/lib/bootstrap/dist/Images/g1.jpg" />
         <img class="img" src="~/lib/bootstrap/dist/Images/G2.jpg" />
         <img class="img" src="~/lib/bootstrap/dist/Images/G3.jpg" />
         <img class="img" src="~/lib/bootstrap/dist/Images/G44.jpg" />
         <img class="img" src="~/lib/bootstrap/dist/Images/G5.jpg" />
         <img class="img" src="~/lib/bootstrap/dist/Images/G6.jpg" />
    
    </div>
</body>

